extends layout
block content
<<<<<<< HEAD
  h1= title
  each p in projects
    p= p.nom
=======
  .container
      form.form-signin(action="/login", method="post")
          h2.form-signin-heading Please sign in
          input.input-block-level(type="text", name="username", placeholder="Email address")
          input.input-block-level(type="password", name="password", placeholder="Password")
          button.btn.btn-large.btn-primary(type="submit") Sign in
>>>>>>> 2980dbded50a0955f2488f6a6739a873347bcef8
